/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2019, 1:08:42 AM
    Author     : ricardo
*/

header, aside, footer, div {
    display: block;
    margin: 0;
}

img {
    width: 100%;
}

a {
    color: black;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    padding: 20px 4px;
    background-color: #4466bd;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #6684cf;
}

a#logotipo {
    display: block;
    width: 180px;
    height: 48px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

ul#nav-main {
    list-style-type: none;
    padding: 0;
}

div#section_center {
    background-color: white;
    padding: 4px;
}

div.page-preview {
    background-color: #ccc;
}

div.product-preview {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    background-color: #eee;
    padding: 4px;
    overflow: hidden;
    margin-bottom: 20px;
}

aside {
    background-color: gray;
}

footer {
    background-color: black;
    color: white;
    padding: 4px;
}

@media (min-width: 768px) {
    div.product-preview {
        width: 32%;
    }
}

@media (min-width: 992px) {

    a#logotipo {
        width: 200px;
        height: 53px;
    }
    
    div.product-preview {
        width: 24%;
    }
}

@media (min-width: 1200px) {
}

.text-center {
    text-align: center;
}

/*[class|=col] {
    border: 1px dotted #002b36;
}*/

