/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2019, 1:08:42 AM
    Author     : ricardo
*/

header, aside, footer, div {
    display: block;
    margin: 0;
}

img {
    width: 100%;
}

a, a:visited {
    color: #4466bd;
    text-decoration: none;
    transition: color 0.8s;
}

a:hover {
    color: #333333;
    text-decoration: none;
}

body {
    font-size: 14px;
    background-color: black;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    padding: 20px 4px;
    background-color: #4466bd;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #6684cf;
}

header a,
header a:visited,
header a:focus,
header a:hover {
    color: white;
    text-decoration: none;
    outline: none;
}

header div#header-div-1 {
}

header div#header-div-2 {
    text-align: center;
    padding: 12px;
}

header div#header-div-3 {
}

a#logotipo {
    display: block;
    width: 180px;
    height: 48px;
    margin: 0 auto;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

ul#nav-main {
    list-style-type: none;
    padding: 0;
}

div#section_center {
    background-color: white;
    padding: 4px;
}

div.page-preview {
    background-color: #ccc;
}

div.product-preview {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    background-color: #eee;
    padding: 4px;
    overflow: hidden;
    margin-bottom: 20px;
}

aside {
    background-color: white;
}

footer {
    background-color: black;
    color: white;
    padding: 4px;
}

@media (min-width: 768px) {

    a#logotipo {
        margin: 0;
    }

    header div#header-div-2 {
        text-align: right;
    }

    div.product-preview {
        width: 32%;
    }
}

@media (min-width: 992px) {

    a#logotipo {
        width: 200px;
        height: 53px;
    }

    div.product-preview {
        width: 24%;
    }
}

@media (min-width: 1200px) {
}

.text-center {
    text-align: center;
}

/* SEARCH INPUT */
div#search-input-wrapper {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 18px;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: #6684cf;
}

div.search > div {
    display: inline-block;
    position: relative;
}

div.search > div:after {
    content: "";
    background-color: #4466bd;
    width: 4px;
    height: 20px;
    position: absolute;
    top: 30px;
    right: 0px;
    transform: rotate(135deg);
    box-shadow: 1px 0 #6684cf;
}

div.search > div > input {
    color: #4466bd;
    font-size: 16px;
    background-color: transparent;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 3px solid #4466bd;
    border-radius: 35px;
    outline: none;
    box-shadow: 1px 0 #6684cf;
    transition: width 0.5s;
    cursor: pointer;
}

div.search > div > input::placeholder {
    color: #efefef;
    opacity: 0;
}

div.search > div > input::-ms-placeholder {
    color: #efefef;
}

div.search > div > input::-ms-input-placeholder {
    color: #efefef;
}

div.search > div > input:focus,
div.search > div > input:valid {
    width: 250px;
    cursor: text;
}


/* --------------------------------------------- */


[class|=col], div {
    border: 1px dotted #002b36;
}

