/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Dec 12, 2019, 7:55:41 PM
    Author     : ricardo
*/

/*header,
aside,
footer,
div {
    border: 1px dotted black;
}*/

img {
    width: 100%;
}

a, a:visited {
    text-decoration: none;
    transition: color 0.8s;
}

a:hover {
    text-decoration: none;
}

a#logotipo {
    width: 120px;
}

div.product-preview {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    overflow: visible;
    margin: 0px 4px 20px 0px;
}

div.product-preview-details {
    padding: 4px;
}

div.product-preview-details .product-title {
    font-size: .7em;
}

div.product-preview-details .product-old-price {
    text-decoration: line-through;
}

div.product-preview-details .product-discount {
    padding: 4px;
}

form#add-to-cart {
    width: 90%;
    margin: 0 auto;
}

form#add-to-cart input,
form#add-to-cart button {
    width: 100%;
    padding: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
}

@media (min-width: 600px) {

    div.product-preview-details .product-title {
        font-size: 1em;
    }

    div.product-preview-details .product-price {
        font-size: 1.3em;
    }

    .form-elements-wrapper {
        width: 90%;
    }
}

@media (min-width: 992px) {

    a#logotipo {
        margin-left: 16px;
    }

    div.product-preview {
        width: 32%;
    }
}

.w3-modal,
.w3-modal-content {
    position: relative;
    z-index: 100
}

@media (min-width: 1200px) {

    a#logotipo {
        width: 180px;
    }

    div.product-preview {
        width: 24%;
    }

    div#description-wrapper {
        margin-left: 16px;
        margin-right: 16px;
    }

    form#add-to-cart {
        width: 70%;
    }
}

/* MEMBERS PAGE*/

.row-login-register form fieldset label {
    display: none;
}

.row-login-register form fieldset {
    border-width: 0;
    outline: 0;
    padding: 0;
    margin: 0;
}

.row-login-register form input,
.row-login-register form textarea,
.row-login-register form button {

    margin-bottom: 16px;
    margin-top: 16px;
    font-size: 1.3em;
}


/* --------------------------------------------- */