/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 12, 2019, 7:55:41 PM
    Author     : ricardo
*/

/*header,
aside,
footer,
div {
    border: 1px dotted black;
}*/

img {
    width: 100%;
}

a, a:visited {
    text-decoration: none;
    transition: color 0.8s;
}

a:hover {
    text-decoration: none;
}

a#logotipo {
    width: 180px;
    height: 48px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-image: url("/files/nubai-new-logo-small.png");
}

div.product-preview {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    padding: 4px;
    overflow: hidden;
    margin: 0px 4px 20px 0px;
}

@media (min-width: 600px) {
    
    .form-elements-wrapper {
        width: 90%;
    }
}

@media (min-width: 992px) {

    a#logotipo {
        margin-left: 16px;
    }

    div.product-preview {
        width: 32%;
    }
    
    
}

@media (min-width: 1200px) {

    div.product-preview {
        width: 24%;
    }
}

/* MEMBERS PAGE*/

.row-login-register form fieldset label {
    display: none;
}

.row-login-register form fieldset {
    border-width: 0;
    outline: 0;
    padding: 0;
    margin: 0;
}

.row-login-register form input,
.row-login-register form textarea,
.row-login-register form button {
    
    margin-bottom: 16px;
    margin-top: 16px;
    font-size: 1.3em;
}


/* --------------------------------------------- */