<!-- Sidebar -->
<aside class="row">
    <div class="col-md-12">
        <h2>Aside section</h2>
        {% if session_data is not empty %}
            {{ dump(session_data) }}
        {% endif %}
    </div>
</aside>
<!-- End Sidebar -->
