<!-- Sidebar -->
<aside class="w3-container">
    <p>Aside content</p>
    {% if app.session.get('customer') %}
        {{ dump(app.session.get('customer')) }}
    {% endif %}
</aside>
<!-- End Sidebar -->
