<!-- Footer -->
<footer class="row">
    
    <div class="col-md-4"><h2>Footer section</h2></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>

</footer>

<script src="{{ asset("assets/js/jquery-3.4.1.js", "theme") }}"></script>
