<!-- Header -->

<header class="w3-container w3-teal">
    <div class="w3-row">
        <div id="logotipo-wrapper" class="w3-col s8 l4 w3-display-container w3-padding-32">
            <a id="logotipo" href="{{ path('homepage') }}" class="w3-display-left"></a>
        </div>
        <div class="w3-col s4 l8 w3-display-container w3-padding-32">
            <span class="w3-display-right">
                <a href="{{ path('memberspage') }}" class="w3-btn w3-white w3-text-teal"><i class="fas fa-user"></i></a>
                <a href="#" class="w3-btn w3-white w3-text-teal"><i class="fas fa-bars"></i></a>
            </span>
        </div>
    </div>
</header>