<!-- Header -->

<header class="w3-container w3-teal">
    <div class="w3-row">
        <div id="logotipo-wrapper" class="w3-col s8 l4 w3-display-container w3-padding-32">
            <a id="logotipo" href="{{ path('homepage') }}" class="w3-display-left"></a>
        </div>
        <div class="w3-col s4 l4 w3-display-container w3-padding-32">
            <span class="w3-display-right">center</span>
        </div>
        <div class="w3-col s12 l4 w3-display-container w3-padding-32">
            <span class="w3-display-right">rigth</span>
        </div>
    </div>
</header>