{# This file is inserted as the 'footer' of each listed record. #}
<p>
    {% if product.editlink() %}
        <span class="edit-link"><a href="{{ product.editlink() }}" target="_blank"><strong class="w3-button w3-gray">Editar</strong></a></span>
    {% endif %}
</p>