{# This file is inserted as the 'footer' of each listed record. #}
<p>
    {% if product.editlink() %}
        <span class="edit-link"><a href="{{ product.editlink() }}"><strong>Editar</strong></a></span>
    {% endif %}
</p>