{% extends 'partials/_master.twig' %}

{% block main %}

    {% if record is defined %}

        <h1>{{ record.title|shout }}</h1>
        
        {#{{ paths.files }}{{ record.logotipo_small }}#}

        {{ record.maintext }}

    {% endif %}

{% endblock main %}
