{% extends 'partials/_master.twig' %}

{% block main %}

    {% if record is defined %}

        <h1>{{ record.title }}</h1>
        
        {{ include('partials/_flashbag_catcher.twig') }}

        {{ record.maintext }}

    {% endif %}

{% endblock main %}
