<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The title</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            #locale-switcher-wrapper ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <header class="w3-container w3-red">
            <h1>The title</h1>
        </header>
        
        {{ __('clique aqui') }}
                
        {{ dump(data) }}
    </body>
</html>
