<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The title</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            #locale-switcher-wrapper ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <header class="w3-container w3-red">
            <h1>The title</h1>
        </header>
        <div class="w3-dropdown-hover">
            <button class="w3-button">Dropdown</button>
            <div class="w3-dropdown-content w3-bar-block w3-card">
                <div id="locale-switcher-wrapper" class="w3-panel">
                    {{ localeswitcher() }}
                </div>
            </div>
        </div>
                
        {{ dump(customer) }}
    </body>
</html>
